@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Island+Moments&family=Italianno&family=Jim+Nightshade&family=Lovers+Quarrel&family=Whisper&display=swap');

:root {
	/* FONT */
	--topbar-font: "Lovers Quarrel";
	--navbar-font: "Jim Nightshade";
	--featurelion-headingfont: "Whisper";
	--featurelionbutton-font: "Beau Rivage";
	--featurelion-font: "Jim Nightshade";
	--alert-font: "Island Moments";
	--playercard-headingfont: "Whisper";
	--playercard-font: "Jim Nightshade";
	--about-headingfont: "Lovers Quarrel";
	--about-font: "Jim Nightshade";
	--comments-font: "Jim Nightshade";
	--caves-font: "Island Moments";
	--tables-headingfont: "Island Moments";
	--tables-font: "Jim Nightshade";
	--sidebarpanels-headingfont: "Beau Rivage";
	--sidebarpanels-font: "Jim Nightshade";
	--chatbox-headingfont: "Island Moments";
	--chatbox-font: "Jim Nightshade";

	/* FONT SIZE */
	--topbar-fontsize: 18px;
	--navbar-fontsize: 24px;
	--featurelion-headingfontsize: 56px;
	--featurelionbutton-fontsize: 26px;
	--featurelion-fontsize: 16px;
	--alert-fontsize: 16px;
	--playercard-headingfontsize: 32px;
	--playercard-fontsize: 15px;
	--about-headingfontsize: 26px;
	--comments-fontsize: 14px;
	--about-fontsize: 16px;
	--caves-fontsize: 18px;
	--tables-headingfontsize: 24px;
	--tables-fontsize: 14px;
	--sidebarpanels-headingfontsize: 24px;
	--sidebarpanels-fontsize: 14px;
	--chatbox-headingfontsize: 22px;
	--chatbox-fontsize: 16px;

}
	

*::-webkit-scrollbar {
    display: none !important;
}
* {
	border: none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	text-shadow: none !important;
	background-repeat: no-repeat !important;
	transition: 0.5s !important;
	scrollbar-width: none !important;
    -ms-overflow-style: none !important; 
}
.col-md-9 {
	overflow-x: hidden;
	padding: 0px !important;
	background-size: cover !important;
}

/* TOPBAR */
.topbar {
	height: 35px !important;
	font-family: var(--topbar-font) !important;
	font-size: var(--topbar-fontsize) !important;
}
.topbar a:hover {
	font-size: calc(var(--topbar-fontsize)*1.05) !important;
}
.welcomeback {
	font-size: 0 !important;
	}
.welcomeback a {
	font-size: var(--topbar-fontsize) !important;
}
@keyframes shake {
	0%, 70%, 100% { 
		transform: translate3d(0, 0, 0);  
  }
	71% { 
		transform: translate3d(-0.5px, 0, 0); 
  }
	73% { 
		transform: translate3d(1px, 0, 0); 
  }
	75% { 
		transform: translate3d(-1px, 0, 0); 
  }
	77% { 
		transform: translate3d(2px, 0, 0); 
  }
	79% { 
		transform: translate3d(-1px, 0, 0); 
  }
	81% { 
		transform: translate3d(1px, 0, 0); 
  }
	83% { 
		transform: translate3d(-0.5px, 0, 0); 
  }
	85% { 
		transform: translate3d(0, 0, 0); 
  } 
}
.badge {
	animation: shake 3s cubic-bezier(.36,.07,.19,.97) both !important;
	animation-iteration-count: infinite !important; 
	position: relative !important; 
	top: -4.5px !important;  
	left: -2px !important; 
}

/* NAVBAR */
.navbar {
	font-family: var(--navbar-font) !important;
}
.navbar a {
	font-size: var(--navbar-fontsize) !important;
	padding-right: 30px !important;
	padding-top: 18px !important;
}
.navbar a:hover {
	background-color: transparent !important;
	font-size: calc(var(--navbar-fontsize)*1.15) !important;
	transition: 0.5s !important;
}
.navbar a:not(:has(img[src*="logo-full-2.png"]))::before {
	content: "";
	position: absolute !important;
	width: 0 !important;
	height: 2px !important;
	bottom: 0 !important;
	left: 50% !important;
	transition: 0.5s !important;
}
.navbar a:not(:has(img[src*="logo-full-2.png"])):hover::before {
	width: 95% !important;
	left: 5% !important;
}
button.navbar-toggle {
  background-color: transparent !important;
  border: none !important;    
}
button.navbar-toggle:hover {
  background-color: transparent !important; 
  border: none !important; 
}

/* ALERTS */
.alert {
	font-family: var(--alert-font) !important;
	font-size: var(--alert-fontsize) !important;
	border: none !important;
	position: absolute !important;
	top: 0.2% !important;
	left: 0.75% !important;
	width: 66% !important;
	margin-bottom: 4px !important;
	padding: 4px 10px !important;
	z-index: 25 !important;
	text-align: left !important;
	border-radius: 0 !important;
	height: 25px !important;
	overflow-x: auto !important;
	overflow-y: hidden !important;
	white-space: nowrap !important;
	scrollbar-width: none !important;
	-ms-overflow-style: none !important;
}
.alert:has(a[href="/halloween.php?dismissrabies=1"]) div {
	display: none;
}
.alert ~ .alert {
	transform: translateY(110%) !important;
}
.alert ~ .alert ~ .alert {
	transform: translateY(220%) !important;
}
.alert ~ .alert ~ .alert ~ .alert {
	transform: translateY(330%) !important;
}
.alert ~ .alert ~ .alert ~ .alert ~ .alert {
	transform: translateY(430%) !important;
}
.alert a {
	transition: 0.5s !important;
	display: inline-block !important;
}
.alert a:hover {
	transform: translateX(4px) !important;
}
.alert + br {
	display: none !important;
}
.alert br {
	display: none !important;
}
h1 + br {
	display: none !important;
}
.alert button {
	padding: 1px !important;
	padding-left: 4px !important;
	padding-right: 4px !important;
	padding-bottom: 0px !important;
	margin-top: -1.5px !important;
	margin-left: 5px !important;
}
center .alert {
	font-family: var(--alert-font) !important;
	font-size: var(--alert-fontsize) !important;
	position: absolute !important;
	border: none !important;
	padding: 4px !important;
	padding-left: 10px !important;
	z-index: 25 !important;
	top: 23.5% !important;
	text-align: center !important;
	border-radius: 0px !important;
	width: 90% !important;
	height: 24px !important;
	left: 5% !important;
}
center .alert ~ .alert {
	transform: translateY(-110%) !important;
}
center .alert ~ .alert ~ .alert {
	transform: translateY(-220%) !important;
}
center .alert ~ .alert ~ .alert ~ .alert {
	transform: translateY(-330%) !important;
}

/* FEATURE LION */
h1 {
	display: none !important;
}
.breadcrumb {
	height: 600px !important;
}
.breadcrumb li::before {
	content: none;
	color: transparent !important;
}
.breadcrumb a {
    content: none;
	color: transparent !important;
}
.breadcrumb li {
    content: none;
	color: transparent !important;
}
.top.center .xlarge.b {
	position: absolute !important;
	top: -420px !important; 
	right: 5% !important;
	z-index: 10 !important;
	font-size: var(--featurelion-headingfontsize) !important;
	font-family: var(--featurelion-headingfont) !important;
}
.top.center .xlarge.b a {
    font-size: var(--featurelion-headingfontsize) !important;
    font-family: var(--featurelion-headingfont) !important;
}
.floatright form {
	position: relative !important;
    bottom: 400px !important;
	background: transparent !important;
	z-index: 20 !important;
}
.floatright form input[type="submit"] {
	background: transparent !important;
	border: none !important;
	font-size: 0px !important;
	width: 160px !important; 
	height: 40px !important; 
}
.floatright form:before {
	content: "Bookmark ⟶";
	position: absolute !important;
	transform: translate(0%, 20%) !important;
	font-size: var(--featurelionbutton-fontsize) !important;
	font-family: var(--featurelionbutton-font) !important;
	pointer-events: none !important; 
	transition: 0.5s !important; 
}
.floatright form:hover:before {
	transform: translate(10%, 20%) !important; 
}
.lion-container {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
}
.lion-image-block {
    padding-bottom: 0px !important;
    max-width: 620px !important;
    margin-top: 60px !important;
	overflow: visible !important;
}
#about td.right > table.inner-table.auto {
    width: 100% !important;
    z-index: 10 !important;
	font-size: var(--featurelion-fontsize) !important;
	font-family: var(--featurelion-font) !important;
}
#about .inner-table td {
	padding-top: 7.5px;
}
#about.table tbody tr.right>td:first-child {
	 display: none !important;
}
#about.table .top {
	background-color: transparent !important;
}
#about {
	position: absolute !important;
	top: 525px !important;
	border: none !important;
	width: 95% !important;
	left: 1.5% !important;
}
#about .inner-table {
	position: absolute !important;
	top: 40px !important;
}
#about.table .bottom {
	background-color: transparent !important;
	position: relative !important;
	font-size: var(--featurelion-fontsize) !important;
	font-family: var(--featurelion-font) !important;
}
.table .bottom a {
	text-decoration: none !important;
}

/* ABOUT */
.about-table {
	display: flex !important;
	flex-direction: column !important;
	padding: 0px !important;
	height: 900px !important;
	position: absolute !important;
	top: 820px !important;
	width: 95%;
	left: 2.5% !important;
	text-align: left !important;
}
.about-table br {
	display: none;
}
.player-card {
	padding: 10px;
	overflow-y: auto;
	height: 200px;
}
#player {
	position: absolute !important;
	top: 820px !important;
	border: none !important;
	left: 5% !important;
	width: 90% !important;
}
#player.table .top small {
	display: none !important;
}
#player.table .top .floatright {
	position: relative !important;
	left: -40% !important;
	margin: -15px !important;
	font-size: calc(var(--playercard-headingfontsize)*0.8) !important;
	font-family: var(--playercard-headingfont) !important;
	top: 48px !important;
}
#player.table .inner-table {
	display: none !important;
}
#player.table .top {
	background: transparent !important;
}
#player a img {
	display: none;
}
#player .center.h3 {
	padding-bottom: 10px !important;
	margin-bottom: -20px !important;
	margin-top: 10px !important;
	font-family: var(--playercard-headingfont) !important;
	font-size: var(--playercard-headingfontsize) !important;
}
.member-online {
	background-color: transparent !important;
}
.member-online::before, .member-offline::before {
	font-size: calc(var(--playercard-headingfontsize)*0.6) !important;
	font-family: var(--playercard-font) !important;
    margin-left: -85px !important; 
	padding-right: 10px !important;
}
.member-online::after, .member-offline::after {
    content: "";
    display: inline-block !important;
    width: 15px !important;
    height: 15px !important; 
    border-radius: 50% !important; 
    margin-right: 0px !important;
}
.member-offline {
	background-color: transparent !important;
}
.member-online::before {
    content: "[ONLINE]" !important;
}
.member-offline::before {
    content: "[OFFLINE]" !important;
}
#player span {
	color: transparent;
}
#player span:after {
	content: ": :";
	margin-left: -17.5px !important;
	font-size: var(--playercard-fontsize) !important;
}
#player a {
	font-size: var(--playercard-fontsize) !important;
}
#player .xlarge {
	margin: -12.4px !important;
}
#player .right_odd {
	display: block !important;
	background: transparent !important;
	margin-top: -45px !important;
}
#player .right_odd.text-right {
	display: block !important;
	margin-top: -40px !important;
	margin-right: 0px !important;
}
.xlarge a:has(img) {
    position: relative !important;
    color: transparent !important;
}
#player .center a {
	position: relative !important;
	color: transparent !important;
}
.center a:after {
	font-size: var(--playercard-fontsize) !important;
}
.right_odd a {
	position: relative !important;
	color: transparent !important;
}
.xlarge a[href^="/compose.php"]::after {
    content: "Leave a Whisper";
    margin-left: -65px !important;
}
.xlarge a[href^="/compose.php"]:hover:after {
    margin-left: -60px !important;
	margin: 5px;
} 
.xlarge a[href^="/transfers.php"]::after {
    content: "Send a Parcel";
    margin-left: -70px !important;
}
.xlarge a[href^="/transfers.php"]:hover:after {
    margin-left: -65px !important;
	margin: 5px;
} 
.xlarge a[href^="/trading_center.php?p=create"]::after {
    content: "Propose a Deal";
    margin-left: -95px !important;
}
.xlarge a[href^="/trading_center.php?p=create"]:hover:after {
    margin-left: -90px !important;
	margin: 5px;
} 
.center a[href^="/wishlist.php"]::after {
    content: "View Bounties";
    margin-left: -95px !important;
}
.center a[href^="/wishlist.php"]:hover:after {
    margin-left: -90px !important;
	margin: 5px;
}
.center a[href^="/trading_center.php?s=users"]::after {
    content: "View Listings";
    margin-left: -90px !important;
}
.center a[href^="/trading_center.php?s=users"]:hover:after {
    margin-left: -85px !important;
	margin: 5px;
} 
.right_odd a[href^="/allies.php?p=blocked"]::after {
    content: "Banish";
    margin-left: -110px !important; 
}
.right_odd a[href^="/allies.php?p=blocked"]:hover:after {
	font-size: calc(var(--pc-fontsize)*1.025);
} 
.right_odd a[href^="/territory.php"]::after {
    content: "Offer an Alliance";
    margin-left: -110px !important;
}
.right_odd a[href^="/territory.php"]:hover::after {
    font-size: calc(var(--pc-fontsize)*1.025) !important;
}
.info-container {
	display: flex !important;
	flex: 1 !important;
	overflow: hidden !important;
	font-size: var(--about-fontsize) !important;
	font-family: var(--about-font) !important;
}
.info-box {
	flex: 2 !important;
	padding: 15px !important;
	overflow-y: auto !important;
	height: 450px !important;
	scrollbar-width: none !important;
	-ms-overflow-style: none !important;
}
.info-box h2 {
	font-size: var(--about-headingfontsize) !important;
	font-family: var(--about-headingfont) !important
}
.link-box {
	flex: 1 !important;
	padding: 10px !important;
	overflow-y: auto !important;
	height: 450px !important;
}
.link-box h3 {
	font-size: var(--about-headingfontsize) !important;
	font-family: var(--about-headingfont) !important
}
.link-box a {
	font-size: var(--about-fontsize) !important;
	text-decoration: none !important;
}
.link-box a:hover {
	font-size: calc(var(--about-fontsize)*1.1) !important;
}
.comment-container {
	display: flex !important;
	height: 250px !important;	
}
.image-box {
	flex: 1 !important;
	padding: 10px !important;
	overflow-y: auto !important;
}
.comment-box {
	flex: 3 !important;
	padding: 10px !important;
	overflow-y: auto !important;
}
#commentBox {
	position: absolute !important;
	top: 1475px !important;
	width: 70% !important;
	left: 27.5% !important;
	height: 210px !important;
	left: 27.5% !important;
	font-size: var(--comments-fontsize) !important;
	font-family: var(--comments-font) !important;
}
#makeComment {
	position: absolute !important;
	top: 1682.5px !important;
	width: 70% !important;
	left: 27.5% !important;
	font-size: var(--comments-fontsize) !important;
	font-family: var(--comments-font) !important;
}
#makeComment #postComment {
	background: transparent !important;
	color: #ffffff00 !important;
}
#makeComment:after {
	content: "⟶";
	margin-left: -30px !important;
	display: inline-block !important;
	transition: 0.5s !important;
	pointer-events: none !important;
}
#makeComment:hover:after {
	transform: translateX(5px) !important;
}

/* CAVES AND MOUNDS */
#fraOrganizationBlock {
	position: absolute !important;
	top: 1750px !important;
	width: 95% !important;
	left: 2.5% !important;
	font-size: var(--caves-fontsize) !important;
	font-family: var(--caves-font) !important;
}
#fraOrganizationBlock .col-md-4 {
	width: 33% !important;
}
#fraCaveList {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    scrollbar-width: none !important; 
    -ms-overflow-style: none !important;
    scroll-snap-type: x mandatory !important;
    scroll-behavior: smooth !important;
	padding-left: 275px !important;
	padding-right: 275px;
    width: 100% !important;	
}
#fraCaveList > div.col-md-4.col-xs-6.center {
    flex: 0 0 auto !important;
    scroll-snap-align: center !important;
	z-index: 10 !important;
	height: 160px !important;
	width: 300px !important;
}
#fraCaveList > div:nth-child(1) {
	order: 7; 
	padding-right: 0px !important;
}
#fraCaveList > div:nth-child(2) {
	order: 4; 
	padding-left: 0px !important;
}
#fraCaveList > div:nth-child(3) {
	order: 2;
	padding-left: 0px !important;
}
#fraCaveList > div:nth-child(4) {
	order: 1; 
	padding-left: 0px !important;
}
#fraCaveList > div:nth-child(5) {
	order: 3; 
	padding-left: 0px !important;
}
#fraCaveList > div:nth-child(6) {
	order: 6; 
	padding-right: 0px !important;
}
#fraCaveList > div:nth-child(7) {
	order: 5; 
	padding-left: 0px !important;
	padding-right: 0px !important;
	height: 10px !important;
}
#fraCaveList > div:nth-child(8) {
	order: 9; 
	padding-right: 0px !important
}
#fraCaveList > div:nth-child(9) {
	order: 8; 
	padding-right: 0px !important;
}
#fraCaveList > div:nth-child(1):hover {
	font-size: calc(var(--caves-fontsize)*1.15) !important;
}
#fraCaveList > div:nth-child(2):hover {
	font-size: calc(var(--caves-fontsize)*1.15) !important;
}
#fraCaveList > div:nth-child(3):hover {
	font-size: calc(var(--caves-fontsize)*1.15) !important;
}
#fraCaveList > div:nth-child(4):hover {
	font-size: calc(var(--caves-fontsize)*1.15) !important;
}
#fraCaveList > div:nth-child(5):hover {
	font-size: calc(var(--caves-fontsize)*1.15) !important;
}
#fraCaveList > div:nth-child(6):hover {
	font-size: calc(var(--caves-fontsize)*1.15) !important;
}
#fraCaveList > div:nth-child(7):hover {
	font-size: calc(var(--caves-fontsize)*1.15) !important;
}
#fraCaveList > div:nth-child(8):hover {
	font-size: calc(var(--caves-fontsize)*1.15) !important;
}
#fraCaveList > div:nth-child(9):hover {
	font-size: calc(var(--caves-fontsize)*1.15) !important;
}
#fraOrganizationBlock .col-md-4:hover {
	font-size: calc(var(--caves-fontsize)*1.1) !important;
}
#fraMoundList .mound-grid img {
	width: 180px !important;
	height: 80px !important;
}
#fraMoundList .mound-grid {
	top: -160px !important;
	left: 15% !important;
	position: relative !important;
	height: 100px !important;
	z-index: 0 !important;
	width: 100% !important;
	padding: 0 !important;
	line-height: 12.5px !important;
	right: 5% !important;
}
#fraMoundList .mound-grid:hover {
	font-size: calc(var(--caves-fontsize)*1.05) !important;
}
#fraMoundList .col-md-3:nth-child(2) {
	display: none !important;
}
#fraMoundList .col-md-3:nth-child(3) {
	display: none !important;
}
#fraOrganizationBlock .col-md-4 {
	line-height: 15px !important;
}
#fraCaveList .col-md-4 {
	line-height: 15px !important;
}

/* ATTACK */
#attack {
	position: absolute !important;
	top: 2025px !important;
	width: 95% !important;
	left: 2.5% !important;
}
#attack input {
	background: transparent !important;
	color: transparent !important;
}
#attack form:after {
	content: "⟶";
	position: absolute !important;
	margin-left: -45px !important;
	transition: 0.5s !important;
	pointer-events: none !important;
}
#attack form:hover:after {
	content: "⟶";
	margin-left: -40px !important;
}

/* ALLIES */
#allies {
	display: none !important;
}

/* CLANS */
#clans {
	display: none !important;
}

/* DYNASTY */
.dynastycollection {
	position: absolute !important;
	top: 2225px !important;
	width: 95% !important;
	left: 2.5% !important;
}
.dynastylist h3 {
	display: none !important;
}
.dynastylist img {
	height: 40px !important;
}
.dynastylist {
	width: 20% !important;
	height: 100px !important;
}

.col-md-9 {
	height: 2300px !important;
	overflow-y: hidden !important;
}

/* SIDEBAR */
.row:nth-child(2){
	
}
.panel-body {
	font-size: var(--sidebarpanels-fontsize) !important;
	font-family: var(--sidebarpanels-font) !important;
}
.col-md-12 h3 {
	font-size: var(--sidebarpanels-headingfontsize) !important;
	font-family: var(--sidebarpanels-headingfont) !important;
}
.col-md-12 h3 .floatright {
	color: transparent !important;
}
.col-md-12 h3 .floatright:after {
	content: "⟶";
	pointer-events: none !important; 
}
a[href="./chat.php"] {
	color: transparent !important;
}
a[href="./chat.php"]:after {
	content: "Chat Room ⟶";	
	pointer-events: none !important; 
}
#fra_chatContainer {
	font-size: var(--chatbox-fontsize) !important;
	font-family: var(--chatbox-font) !important;
	overflow-x: hidden !important;
}
#label_currentChannel  {
	height: 30px !important;
}
.chatMenu-container {
	font-size: var(--chatbox-fontsize) !important;
	font-family: var(--chatbox-font) !important;
}
.s-chat-message {
	font-size: var(--chatbox-fontsize) !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.hasContext {
	border-left: 5px solid !important;
}
.s-chat-message_timestamp {
	padding-left: 5px !important
}
#chatMessagePinned {
	font-size: var(--chatbox-headingfontsize) !important;
	font-family: var(--chatbox-headingfont) !important
}
#fraChatSettingsMenu {
	display: inline-block !important;
	width: 160px !important;
	transform: translateX(27.5px) !important;
}
#btnChatSend {
    background: transparent !important;
    color: transparent !important;
}
#txtChatContainer:after {
    content: "⟶"; 
    pointer-events: none;
	position: absolute !important;
	margin-top: -25px !important;
	right: 5px !important;
	transition: 0.5s !important;
}
#txtChatContainer:hover:after {
	right: 0px !important;
}
form[action="/account-link.php"] {
	font-size: var(--chatbox-gfontsize) !important;
	font-family: var(--chatbox-font) !important;
}
form[action="/account-link.php"] button {
	background: transparent !important;
	color: transparent !important;
}
form[action="/account-link.php"]:after {
	content: "Switch Account ⟶";
	position: absolute !important;
	margin-top: -30px !important;
	left: 35% !important;
	display: inline-block !important;
	transition: 0.5s !important;
	pointer-events: none !important;
}
form[action="/account-link.php"]:hover:after {
	margin-left: 5px !important;
}


/* LAYOUT FIXES / OWNER VIEW */
*:has(a[href*="refer.php"]) center .alert {
	top: 19.25% !important;
}
*:has(a[href*="refer.php"]) #player .center.h3 {
	margin-top: 30px !important;
}
*:has(a[href*="refer.php"]) #player.table .top .floatright {
	top: 68px !important;
}
*:has(a[href*="refer.php"]) .center a[href^="/wishlist.php"]::after {
    content: "View Bounties";
	margin-left: -125px !important;
	transition: 0.5s !important;
}
*:has(a[href*="refer.php"]) .center a[href^="/wishlist.php"]:hover:after {
	margin-left: -120px !important;
	margin: 5px;
}
*:has(a[href*="refer.php"]) .center a[href^="/refer.php"]::after {
	content: "Recruit an Ally";
	margin-left: -110px !important;
	transition: 0.5s !important;
}
*:has(a[href*="refer.php"]) .center a[href^="/refer.php"]:hover:after {
	margin-left: -105px !important;
	margin: 5px;
}
*:has(a[href*="refer.php"]) b:has(span)  {
	display: none !important;
}
*:has(a[href*="refer.php"]) .fapa {
	height: 200px !important;
	position: absolute !important;
	top: 2025px !important;
	width: 95% !important;
	left: 2.5% !important;
	padding-top: 90px !important;
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}
*:has(a[href*="refer.php"]) .fapa:after {
	content: "You do not have feed all, play all active" !important;
	font-size: var(--tables-fontsize) !important;
}
*:has(a[href*="refer.php"]) *:has(.feature) .fapa:after {
	color: transparent !important;
}
*:has(a[href*="refer.php"]) .sparring {
	height: 150px !important;
	position: absolute !important;
	top: 2255px !important;
	width: 95% !important;
	left: 2.5% !important;
	padding-top: 65px !important;
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}
*:has(a[href*="refer.php"]) .sparring:after {
	content: "You have no available sub males to spar with." !important;
	font-size: var(--tables-fontsize) !important;
}
*:has(a[href*="refer.php"]) *:has(#sparring) .sparring:after {
	color: transparent !important;
}
*:has(a[href*="refer.php"]) .reclaim {
	height: 150px !important;
	position: absolute !important;
	top: 2437.5px !important;
	width: 95% !important;
	left: 2.5% !important;
	padding-top: 65px !important;
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}
*:has(a[href*="refer.php"]) .reclaim:after {
	content: "You have no lions to reclaim." !important;
	font-size: var(--tables-fontsize) !important;
}
*:has(a[href*="refer.php"]) *:has(#reclaim) .reclaim:after {
	color: transparent !important;
}
*:has(a[href*="refer.php"]) form:has(input[name="feedall"]) .feature {
	position: absolute !important;
	top: 1250px !important;
	width: 87.5% !important;
	left: 2.5% !important;
	height: 190px !important;
	padding-top: 25px !important;
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}
*:has(a[href*="refer.php"]) form:has(input[name="feedall"]) input {
	background: transparent !important;
	color: transparent !important;
}
*:has(a[href*="refer.php"]) form:has(input[name="feedall"]) .feature:after {
	content: "Feed pride ⟶";
	margin-left: -55px !important;
	display: inline-block !important;
	transition: 0.5s !important;
	pointer-events: none !important;
}
*:has(a[href*="refer.php"]) form:has(input[name="feedall"]) .feature:hover:after {
	transform: translateX(5px);
}
*:has(a[href*="refer.php"]) form:has(input[name="playall"]) .feature {
	position: absolute !important;
	top: 1250px !important;
	width: 87.5% !important;
	left: 10% !important;
	height: 190px !important;
	padding-top: 25px !important;
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}
*:has(a[href*="refer.php"]) form:has(input[name="playall"]) input {
	background: transparent !important;
	color: transparent !important;
}
*:has(a[href*="refer.php"]) form:has(input[name="playall"]) .feature:after {
	content: "Interact with pride ⟶";
	margin-left: -100px !important;
	display: inline-block !important;
	transition: 0.5s !important;
	pointer-events: none !important;
}
*:has(a[href*="refer.php"]) form:has(input[name="playall"]) .feature:hover:after {
	transform: translateX(5px);
}
*:has(a[href*="refer.php"]) .feature h3 {
	font-size: var(--tables-headingfontsize) !important;
	font-family: var(--tables-headingfont) !important;
}
*:has(a[href*="refer.php"]) .feature span {
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}
*:has(a[href*="refer.php"]) #sparring {
	position: absolute !important;
	top: 2255px !important;
	width: 95% !important;
	left: 2.5% !important;
	height: 150px !important;
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}
*:has(a[href*="refer.php"]) form:has(input[name="sparwithsub"]) input[type="submit"] {
	background: transparent !important;
	color: transparent !important;
}
*:has(a[href*="refer.php"]) form:has(input[name="sparwithsub"]):after {
	content: "⟶";
	display: inline-block !important;
	position: absolute !important;
	margin-left: -35px !important;
	transform: translateY(4px) !important;
	transition: 0.5s !important;
	pointer-events: none !important;
}
*:has(a[href*="refer.php"]) form:has(input[name="sparwithsub"]):hover:after {
	transform: translateX(5px) translateY(4px) !important;
}
*:has(a[href*="refer.php"]) #reclaim {
	position: absolute !important;
	top: 2437.5px !important;
	width: 95% !important;
	left: 2.5% !important;
	height: 150px !important;
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}
*:has(a[href*="refer.php"]) td.right.center select {
	margin-top: 5px !important;
}
*:has(a[href*="refer.php"]) td.right.center input {
	background: transparent !important;
	color: transparent !important;
}
*:has(a[href*="refer.php"]) td.right.center input:nth-of-type(2) {
	display: none !important;
}
*:has(a[href*="refer.php"]) td.right.center:has(input[name="reclaim"]):before {
	content: "Reclaim ⟶";
	transform: translateX(20px) translateY(5px);
	position: absolute !important;
	pointer-events: none !important;
	transition: 0.5s !important;
}
*:has(a[href*="refer.php"]) td.right.center:has(input[name="reclaim"]):hover:before {
	transform: translateX(25px) translateY(5px);
}

*:has(a[href*="refer.php"]) .dynastycollection {
	position: absolute !important;
	top: 2600px !important;
	width: 95% !important;
	left: 2.5% !important;
}
*:has(a[href*="refer.php"]) .col-sm-4 {
	position: absolute !important;
	top: 2662.5px !important;
	width: 95% !important;
	left: 2.5% !important;
	width: 33% !important;
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}
*:has(a[href*="refer.php"]) .col-sm-4:nth-child(1) {
	transform: translateX(92.5%);
}
*:has(a[href*="refer.php"]) .col-sm-4:nth-child(2) {
	transform: translateX(185%);
}
*:has(a[href*="refer.php"]) form:has(input[name="atid"]) table.table:first-of-type {
	position: absolute !important;
	top: 2700px !important;
	width: 95% !important;
	left: 2.5% !important;	
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}	
*:has(a[href*="refer.php"]) form:has(input[name="atid"]) > div.left {
	position: absolute !important;
	top: 2750px !important;
	width: 95% !important;
	left: 2.5% !important;
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}
*:has(a[href*="refer.php"]) #editdetailspanel {
	position: absolute !important;
	top: 37.25px !important;
	left: 0.125%;
	width: 95% !important;
	z-index: 10 !important;
	font-size: var(--tables-fontsize) !important;
	font-family: var(--tables-font) !important;
}
*:has(a[href*="refer.php"]) #editdetailspanel table {
	width: 100% !important;
	padding-bottom: 100px !important;
}
*:has(a[href*="refer.php"]) .col-md-9 {
	height: 2800px !important;
}
*:has(a[href*="refer.php"]) .col-md-9:has(#editdetailspanel[style*="display: block"]) {
	height: 3250px !important;
}
*:has(a[href*="refer.php"]) td.bottom input[name="update"] {
	transform: translateX(380px) !important;
	background: transparent !important;
	color: transparent !important;
}
*:has(a[href*="refer.php"]) td.bottom:has(input[name="update"]):after {
	content: "Save ⟶";
	position: absolute !important;
	transform: translateX(340px) translateY(2.5px);
	pointer-events: none !important;
	transition: 0.5s !important;
}
*:has(a[href*="refer.php"]) td.bottom:has(input[name="update"]):hover:after {
	transform: translateX(345px) translateY(2.5px);
}
*:has(a[href*="refer.php"]) .col-md-9:has(#editdetailspanel[style*="display: block"]) center .alert {
	top: 16.5% !important;
}

@media (max-width: 1200px) {
	.navbar a {
		padding-right: 18px !important;
	}
	*:has(a[href*="refer.php"]) td.bottom input[name="update"] {
		transform: translateX(310px) !important;
	}
	*:has(a[href*="refer.php"]) td.bottom:has(input[name="update"]):after {
		transform: translateX(270px) translateY(2.5px);
	}
	*:has(a[href*="refer.php"]) td.bottom:has(input[name="update"]):hover:after {
		transform: translateX(275px) translateY(2.5px);
	}
	*:has(img[src*="icon_beetleblood.png"]):has(a[href*="refer.php"]):has(img[src*="pumpkin"]) .feature.auto form {
		left: 11% !important;
	}
}

/* LAYOUT FIXES / OCTOBER / TRICK OR TREATING */
*:has(img[src*="icon_beetleblood.png"]):has(img[src*="pumpkin"]) .feature.auto {
	position: absolute !important;
	width: 95% !important;
	top: 17% !important;
	background: transparent !important;
	z-index: 50 !important;
	color: transparent !important;
}
*:has(img[src*="icon_beetleblood.png"]):has(img[src*="pumpkin"]) .feature.auto form {
	position: absolute !important;
	top: 150px !important;
	left: 10% !important;
}
*:has(img[src*="icon_beetleblood.png"]):has(img[src*="pumpkin"]) .feature.auto form {
	left: 5% !important;
	top: 150px !important;
}
*:has(img[src*="icon_beetleblood.png"]):has(a[href*="refer.php"]):has(img[src*="pumpkin"]) .feature.auto {
	top: 14% !important;
}
*:has(img[src*="icon_beetleblood.png"]):has(a[href*="refer.php"]):has(img[src*="pumpkin"]) .feature.auto form {
	left: 9% !important;
	top: 150px !important;
}
*:has(img[src*="icon_beetleblood.png"]):has(a[href*="refer.php"]):has(img[src*="pumpkin"]) form:has(input[name="feedall"]) .feature {
	top: 1235px !important;
	height: 190px !important;		
}
*:has(img[src*="icon_beetleblood.png"]):has(a[href*="refer.php"]):has(img[src*="pumpkin"]) form:has(input[name="playall"]) .feature {
	top: 1235px !important;
}


/* LAYOUT FIXES / SCREEN SIZE */
@media (max-width: 992px) {
	.navbar a {
		padding-right: 12px !important;
	}
	#fraMoundList .mound-grid {
		left: -2.5% !important;
		width: 70% !important;
	}
	*:has(a[href*="refer.php"]) td.bottom input[name="update"] {
		transform: translateX(320px) !important;
	}
	*:has(a[href*="refer.php"]) td.bottom:has(input[name="update"]):after {
		transform: translateX(278px) translateY(2.5px);
	}
	*:has(a[href*="refer.php"]) td.bottom:has(input[name="update"]):hover:after {
		transform: translateX(285px) translateY(2.5px);
	}
}

@media (max-width: 768px) {
	.navbar a {
		padding-right: 12px !important;
	}
	#fraMoundList .mound-grid {
		left: -7.5% !important;
		width: 70% !important;
	}
	*:has(a[href*="refer.php"]) form:has(input[name="feedall"]) .feature {
		top: 1250px !important;
		width: 45% !important;
		left: 50.5% !important;
		height: 190px !important;		
	}
	*:has(a[href*="refer.php"]) form:has(input[name="playall"]) .feature {
		top: 1270px !important;
		width: 45% !important;
		left: 4.5% !important;
		height: 190px !important;
	}
	*:has(img[src*="icon_beetleblood.png"]):has(a[href*="refer.php"]):has(img[src*="pumpkin"]) form:has(input[name="feedall"]) .feature {
		top: 1215px !important;
		height: 190px !important;		
	}
	*:has(img[src*="icon_beetleblood.png"]):has(a[href*="refer.php"]):has(img[src*="pumpkin"]) form:has(input[name="playall"]) .feature {
		top: 1235px !important;
	}
}
