@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: 'cormorant garamond';
    border-radius: 0px !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

html {
    scroll-timeline: --page-scroll block;
}

.pagedoll {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    width: 400px;
    max-width: 50%;
    pointer-events: none;
}

.topbar {
    position: fixed;
    width: 90%;
    max-width: 1200px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.navbar {
    position: fixed;
    width: 90%;
    max-width: 1200px;
    left: 50%;
    z-index: 2;
    top: 85px; 
    transform: translate(-50%, -50%); 
    animation: stickToTopbar linear both;
    animation-timeline: --page-scroll;
    animation-range: 0px 70px; 
}
@keyframes stickToTopbar {
  to {
    top: 60px; 
  }
}
.main {
    width: 90%;
    max-width: 1200px;
    padding-top: 50px;
    position: relative;
}

@media (max-width: 778px) {
    .topbar {
        width: 100%;
    } 
    .navbar {
        width: 100%;
        top: 60px; 
    }
    .navbar-collapse {
        position: fixed;
        width: 100%;
        top: 50px;
        border: none;
    }
    .main {
        width: 100%;
        padding-top: 80px;
    }
}
@media (min-width: 992px) {
    .sidebar {
        position: sticky !important;
        top: 0;
        height: 90vh;
        overflow: auto;
        padding-bottom: 300px;
    }
}

.breadcrumb {
    margin-bottom: 780px;
}
form input[value='Bookmark'] {
    position: absolute;
    top: 515px;
    right: 25px;
    z-index: 1;
}
.feature-display {
    height: 280px;
    width: 96%;
    background: #fff;
    margin-top: 150px;
    position: absolute;
    top: 120px;
}
.feature-display img {
    position: absolute !important;
    left: 0;
    top: 0;
    max-width: 100%;
    margin-top: -200px;
}
#about img {
    display: none;
}
#about {
    position: absolute;
    top: 60px;
    border: none;
}
#about .top, #about .bottom {
    background: none
}
.xlarge.b a {
    font-size: 60px;
}

.xlarge.b {
    font-size: 0px;
    text-align: right;
    margin-right: 20px;
}
.xlarge.b:after {
    content: ', Mother of Stars';
    font-size: 40px;
}
#about .inner-table {
    position: absolute;
    top: 400px;
    left: -200px;
    width: 100%;
}
#about .bottom {
    position: absolute;
    top: 460px;
}#about .bottom a {
    color: #000
}

h1 {
    display: none
}

.boxsection {
    margin-top: -80px;
    text-align: left;
}
.contentheader {
    font-size: 24px;
    padding-left: 12px;
}
.contentsubheader {
    font-size: 20px;
    padding-left: 12px;
}
.contentsection {
    padding: 40px;
    display: flex;
    gap: 15px;
}
.contentbox {
    flex: 3;
}
.contentsubsubheader {
    font-size: 18px;
}
.maincontent {
    margin-top: 20px;
    font-size: 16px;
    height: 300px;
    overflow: auto;
}
.imagecontent {
    flex: 2;
}

#commentBox {
    width: 70%;
    margin-left: 30%;
}
#commentBox:before {
    content: '';
    position: absolute;
    left: 10px;
    margin-top: -40px;
    height: 380px;
    width: 400px;
    background: url('https://snnxwww.github.io/snows-css/Kassiopeia/kassiopeia-352746.png');;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}


.opacity-5 {
    opacity: 5%;
}
.opacity-10 {
    opacity: 10%;
}
.opacity-15 {
    opacity: 15%;
}
.opacity-20 {
    opacity: 20%;
}
.opacity-25 {
    opacity: 25%;
}
.opacity-30 {
    opacity: 30%;
}
.opacity-35 {
    opacity: 35%;
}
.opacity-40 {
    opacity: 40%;
}
.opacity-45 {
    opacity: 45%;
}
.opacity-50 {
    opacity: 50%;
}
.opacity-55 {
    opacity: 55%;
}
.opacity-60 {
    opacity: 60%;
}
.opacity-65 {
    opacity: 65%;
}
.opacity-70 {
    opacity: 70%;
}
.opacity-75 {
    opacity: 75%;
}
.opacity-80 {
    opacity: 80%;
}
.opacity-85 {
    opacity: 85%;
}
.opacity-90 {
    opacity: 90%;
}
.opacity-95 {
    opacity: 95%;
}
.opacity-100 {
    opacity: 100%;
}
