@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: 'cormorant garamond';
}

html {
    scroll-timeline: --page-scroll block;
}

.topbar {
    position: fixed;
    width: 90%;
    max-width: 1200px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.navbar {
    position: fixed;
    width: 90%;
    max-width: 1200px;
    left: 50%;
    z-index: 2;
    top: 85px; 
    transform: translate(-50%, -50%); 
    animation: stickToTopbar linear both;
    animation-timeline: --page-scroll;
    animation-range: 0px 70px; 
}
@keyframes stickToTopbar {
  to {
    top: 60px; 
  }
}
.main {
    width: 90%;
    max-width: 1200px;
    padding-top: 50px;
    position: relative;
}

@media (max-width: 778px) {
    .topbar {
        width: 100%;
    } 
    .navbar {
        width: 100%;
        top: 60px; 
    }
    .navbar-collapse {
        position: fixed;
        width: 100%;
        top: 50px;
        border: none;
    }
    .main {
        width: 100%;
        padding-top: 80px;
    }
}
@media (min-width: 992px) {
    .sidebar {
        position: sticky !important;
        top: 0;
        height: 90vh;
        overflow: auto;
    }

}




.opacity-5 {
    opacity: 5%;
}
.opacity-10 {
    opacity: 10%;
}
.opacity-15 {
    opacity: 15%;
}
.opacity-20 {
    opacity: 20%;
}
.opacity-25 {
    opacity: 25%;
}
.opacity-30 {
    opacity: 30%;
}
.opacity-35 {
    opacity: 35%;
}
.opacity-40 {
    opacity: 40%;
}
.opacity-45 {
    opacity: 45%;
}
.opacity-50 {
    opacity: 50%;
}
.opacity-55 {
    opacity: 55%;
}
.opacity-60 {
    opacity: 60%;
}
.opacity-65 {
    opacity: 65%;
}
.opacity-70 {
    opacity: 70%;
}
.opacity-75 {
    opacity: 75%;
}
.opacity-80 {
    opacity: 80%;
}
.opacity-85 {
    opacity: 85%;
}
.opacity-90 {
    opacity: 90%;
}
.opacity-95 {
    opacity: 95%;
}
.opacity-100 {
    opacity: 100%;
}
