@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Bonheur+Royale&display=swap');

* {
    font-family: 'Almendra'
}

h1, h2, h3, h4, h5, h6, h7, .top a {
    font-family: 'Bonheur Royale';
}

body {
    background: #d5e3e5;
}

.breadcrumb {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -25px;
    height: 600px;
}
.breadcrumb:after {
    content: '';
    height: 125px;
    width: 100%;
    background: #dddddd;
    position: absolute;
    top: 475px;
    left: 0;
}
.breadcrumb .breadcrumb-item , .breadcrumb a{
    display: none;
}
.lion-image-block {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 60%;
}
.lion-image-block img {
    width: 100%;
}
#about .inner-table {
    width: 20%;
    position: absolute;
    left: 57.5%;;
    top: -15px;
    height: 30px;
}
#about .top, #about .top a {
    background: none;
    font-size: 60px;
    text-align: right;
    padding-right: 15px;
}
#about {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
#about .bottom, #lion_image {
    display: none
}
.floatright form {
    position: absolute;
    top: 35px;
    right: 210px;
    z-index: 1;
}

#player {
    position: absolute;
    top: 455px;
    border: none;
    width: 97.5% !important
}
#player .top, #player hr {
    display: none;
}
#player .right img {
    height: 100px;
    margin-right: 5px;
    margin-top: 25px;
}
#player .right a img {
    height: 24px;
    margin-right: 0px;
    margin-top: 0px;
}
#player .center.h3 {
    font-size: 32px;
    margin-left: 35%;
    height: 110px;   
}
*:has(a[href='/refer.php']) #player .center.h3 {
    font-size: 32px;
    margin-left: -5%;
    height: 110px;   
}
#player .center.h3:after {
    content: "#553411";
    font-size: 18px;
    position: absolute;
    margin-left: 10px;
    margin-top: 7.5px;
}
.member-online {
    background: transparent;
}
.member-online:after  {
    content: '[online]';
    font-size: 10px;
    margin-left: 180px;
    position: absolute;
    top: 42px;
}
.member-offline {
    background: transparent;
}
.member-offline:after  {
    content: '[offline]';
    font-size: 10px;
    margin-left: 180px;
    position: absolute;
    top: 42px;
}
#player a[href='/compose.php?to=553411']  {
    position: absolute;
    left: 50px;
    top: 20px;
    font-size: 24px;
    background: #ffffff;
    width: 42.5%;
    padding: 4px;
    padding-left: 15px;
}
#player a[href='/transfers.php?mem=553411']  {
    position: absolute;
    left: 50px;
    top: 61.5px;
    font-size: 24px;
    background: #dddddd;
    width: 42.5%;
    padding: 4px;
    padding-left: 15px;
}
#player a[href='/trading_center.php?p=create&type=private&for=553411']  {
    position: absolute;
    left: 50px;
    top: 103px;
    font-size: 24px;
    background: #ffffff;
    width: 42.5%;
    padding: 4px;
    padding-left: 15px;
}
#player a[href='/wishlist.php?id=553411']  {
    position: absolute;
    left: -15px;
    top: 20px;
    font-size: 0px;
    background: #434343;
    width: 65px;
    height: 62.75px;
    padding: 4px;
    padding-top: 15px;
    padding-left: 10px;
}
#player a[href='/wishlist.php?id=553411'] img  {
    height: 35px;
}
#player a[href='/trading_center.php?s=users&owner=553411&ref#results']  {
    position: absolute;
    left: -15px;
    top: 82.75px;
    font-size: 0px;
    background: #9c9c9c;
    width: 65px;
    height: 62.75px;
    padding: 4px;
    padding-top: 12px;
}
#player a[href='/trading_center.php?s=users&owner=553411&ref#results'] img  {
    height: 35px;
}
#player a[href='/refer.php']  {
    position: absolute;
    left: -15px;
    top: 82.75px;
    font-size: 0px;
    background: #9c9c9c;
    width: 65px;
    height: 62.75px;
    padding: 4px;
    padding-top: 12px;
}
#player a[href='/refer.php'] img  {
    height: 35px;
}
#player span, #player .inner-table {
    display: none;
}
#player a[href='/allies.php?p=blocked&block=553411']  {
    position: absolute;
    left: 41.5%;
    top: 110px;
    font-size: 0px;
}
#player a[href='/allies.php?p=blocked&block=553411'] img  {
    height: 30px;
}
#player a[href='/territory.php?id=553411&befriends=553411&tk=wQyDmdcl4n8w']  {
    position: absolute;
    right: 120px;
    top: 107.5px;
    font-size: 0px;
}
#player a[href='/territory.php?id=553411&befriends=553411&tk=wQyDmdcl4n8w'] img  {
    height: 35px;
}
#player .right_odd {
    background: transparent;
}

.alert {
    z-index: 10;
}
@media(max-width: 1200px) {
    .lion-image-block  {
        width: 52.5%;
        top: 50px;
    }
    .breadcrumb {
        height: 540px;
    }
    .breadcrumb:after {
        top: 420px;
    }
    #about .inner-table {
        left: 45%;
    }
    #player {
        position: absolute;
        top: 400px;
        border: none;
    }
}
@media(max-width: 700px) {
    .lion-image-block  {
        width: 50%;
        top: 50px;
    }
    #about .inner-table {
        left: 40%;
    }
}
@media(max-width: 675px) {
    .lion-image-block  {
        width: 47.5%;
        top: 75px;
    }
    #about .inner-table {
        left: 37.5%;
    }
}
@media(max-width: 650px) {
    .lion-image-block  {
        width: 45%;
        top: 100px;
    }
    #about .inner-table {
        left: 35%;
    }
}
@media(max-width: 625px) {
    #about .inner-table {
        left: 30%;
    }
}
@media(max-width: 600px) {
    #about .inner-table {
        left: 27.5%;
    }
}

h1 {
    display: none;
}

div.linkbox  {
    background: #fff;
    width: 70%;
    margin-left: 30%;
    height: 150px;
    border: 8px solid #000;
    padding: 12px;
    font-size: 24px;
}
.boxlayout:before {
    content: '';
    height: 160px;
    width: 400px;
    background: url('https://static.lioden.com/images/decors/female/kind//over/mainecoon.png');
    background-position: bottom right;
    position: absolute;
    margin-top: -120px;
    right: 0px;
    filter: brightness(1.2) saturate(0.3) hue-rotate(150deg)
}
div.aboutbox {
    background: #fff;
    width: 70%;
    margin-right: 30%;
    height: 150px;
    border: 8px solid #000;
    padding: 12px;
    font-size: 18px;
}
.boxlayout:after {
    content: '';
    height: 160px;
    width: 400px;
    background: url('https://static.lioden.com/images/decors/female//over/turkangora.png');
    background-position: bottom left;
    position: absolute;
    margin-top: -300px;
    margin-right: 60%;
    right: 0px;
    filter: brightness(1.0) saturate(0.1) hue-rotate(150deg)
}
.boxlayout img {
    position: absolute;
    right: 25px;
    top: 550px;
    pointer-events: none;
}
.sticker {
    height: 250px;
    width: 400px;
    background: url('https://static.lioden.com/images/decors/female/jolly//over/leucisticfox.png');
    background-position: bottom right;
    background-size: 140%;
    position: absolute;
    right: 50px;
    margin-top: -220px;
    filter: brightness(1.05) saturate(0.2) hue-rotate(150deg)
}

