@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Bonheur+Royale&display=swap');

* {
    font-family: 'Almendra'
}

h1, h2, h3, h4, h5, h6, h7, .top a {
    font-family: 'Bonheur Royale';
}

body {
    background: #d5e3e5;
    color: #edf3f3;
}
a, b span {
    color: #edf3f3 !important;
}

.topbar {
    background: #85a7ac;
    color: #fafcfc;
    box-shadow: 7.5px 10px #a8cbd0;
}
.badge {
    background: #51838a;
    color: #fafcfc;
}
.topbar a {
    color: #f2f6f6 !important;
    transition: 0.4s
}
.topbar a:hover {
    padding-left: 4px;
    padding-right: 4px;
}
img[src*='icon-beetle-silver.png'] {
    filter: hue-rotate(10deg) saturate(0.8) brightness(1)
}
img[src*='icon-beetle-gold.png'] {
    filter: hue-rotate(180deg) saturate(0.9) brightness(1.1)
}

.navbar {
    background: #86b1b7;
    box-shadow: 10px 10px #98c1c8;
    z-index: 1;
}
.navbar a {
    transition: 0.4s;
    color: #eef3f3 !important;
}
.navbar a:not(:has(img[src*='logo-full-2.png'])):hover {
    background: #86b1b7 !important;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
    box-shadow: 5px 5px #b1ced2;
    opacity: 1;
    filter: brightness(1.1);
    color: #dbe4e5 !important;
}
img[src*='logo-full-2.png'] {
    filter: hue-rotate(150deg) saturate(0.2) brightness(1.25) 
}

.col-md-9 {
    background: transparent;
}
.main {
    background: #c1d3d5;
    box-shadow: 10px 10px #85a7ac;
}

.breadcrumb {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -25px;
    height: 600px;
    margin-bottom: 25px !important;
    border-radius: 0px;
    background: #c1d3d5;
    box-shadow: 10px 15px #abc3c5;
}
.breadcrumb:after {
    content: '';
    height: 125px;
    width: 100%;
    background: #afc6c8;
    box-shadow: 10px 10px #98b6b9;
    position: absolute;
    top: 475px;
    left: 0;
}
.breadcrumb .breadcrumb-item , .breadcrumb a{
    display: none;
}
.lion-image-block {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 60%;
    pointer-events: none;
}
.lion-image-block img {
    width: 100%;
    pointer-events: none;
}
.lion-image-block img:first-of-type {
    width: 100%;
    pointer-events: none;
    border: 10px double #e0ebec;
}
#about .inner-table {
    width: 20%;
    position: absolute;
    left: 57.5%;
    top: -15px;
    height: 30px;
    color: #ecf4f4;
}
#about .inner-table a {
    color: #d7e3e3;
    transition: 0.4s
}
#about .inner-table a:hover {
    text-shadow: 0.5px 0.5px #ecf4f4;
}
#about .inner-table .left {
    background: #87a4a7;
    border-radius: 0px;
}
#about .inner-table .right {
    background: #98b6b9;
    border-radius: 0px;
}
#about .top, #about .top a {
    background: none;
    font-size: 60px;
    text-align: right;
    padding-right: 15px;
}
#about {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
#about .bottom, #lion_image {
    display: none
}
.xlarge.b a {
    color: #eff4f4 !important;
    transition: 0.4s;
}
.xlarge.b a:hover {
    text-shadow: 1px 1px #fafcfc;
}
.floatright form {
    position: absolute;
    top: 35px;
    right: 210px;
    z-index: 1;
}
.floatright input {
    background: #a7c2c2;
    border-radius: 0px !important;
    box-shadow: 4px 4px #9cb6b6;
    border: none !important;
    text-shadow: none !important;
    color: #d8e3e3 !important;
    transition: 0.4s !important
}
.floatright input:hover {
    background: #9fbcbc;
    box-shadow: 4px 6px #91abab;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
}

#player {
    position: absolute;
    top: 455px;
    border: none;
    width: 97.5% !important;
    pointer-events: none;
}
#player .top, #player hr {
    display: none;
}
#player .right img {
    height: 100px;
    margin-right: 5px;
    margin-top: 25px;
}
#player .right a img {
    height: 24px;
    margin-right: 0px;
    margin-top: 0px;
    pointer-events: all;
}
#player .center.h3 {
    font-size: 32px;
    margin-left: 35%;
    height: 110px; 
    color: #e7f0f0;
}
*:has(a[href='/refer.php']) #player .center.h3 {
    font-size: 32px;
    margin-left: -5%;
    height: 110px;   
}
#player .center.h3:after {
    content: "#553411";
    font-size: 18px;
    position: absolute;
    margin-left: 10px;
    margin-top: 7.5px;
}
.member-online {
    background: transparent;
}
.member-online:after  {
    content: '[online]';
    font-size: 10px;
    margin-left: 180px;
    position: absolute;
    top: 42px;
}
.member-offline {
    background: transparent;
}
.member-offline:after  {
    content: '[offline]';
    font-size: 10px;
    margin-left: 180px;
    position: absolute;
    top: 42px;
}
#player a {
    color: #e7f0f0;
    transition: 0.4s;
    pointer-events: all
}
#player a:hover {
    transform: scale(1.025) rotate(0deg) translate(-2px, -2px) skewX(0deg);
    color: #e7f0f0;
    box-shadow: 4px 4px #c6d6d8;
    background: #b5cbcc;
}
#player a[href='/compose.php?to=553411']  {
    position: absolute;
    left: 50px;
    top: 20px;
    font-size: 24px;
    width: 42.5%;
    padding: 4px;
    padding-left: 15px;
}
#player a[href='/compose.php?to=553411'] img  {
    filter: hue-rotate(120deg) saturate(0.2) brightness(0.95)
}
#player a[href='/transfers.php?mem=553411']  {
    position: absolute;
    left: 50px;
    top: 61.5px;
    font-size: 24px;
    width: 42.5%;
    padding: 4px;
    padding-left: 15px;
}
#player a[href='/transfers.php?mem=553411'] img  {
    filter: hue-rotate(150deg) saturate(0.1) brightness(1.3)
}
#player a[href='/trading_center.php?p=create&type=private&for=553411']  {
    position: absolute;
    left: 50px;
    top: 103px;
    font-size: 24px;
    width: 42.5%;
    padding: 4px;
    padding-left: 15px;
}
#player a[href='/trading_center.php?p=create&type=private&for=553411'] img {
    filter: hue-rotate(250deg) saturate(0.3) brightness(1.1)
}
#player a[href='/wishlist.php?id=553411']  {
    position: absolute;
    left: -15px;
    top: 20px;
    font-size: 0px;
    width: 65px;
    height: 62.75px;
    padding: 4px;
    padding-top: 15px;
    padding-left: 10px;
}
#player a[href='/wishlist.php?id=553411'] img  {
    height: 35px;
    filter: hue-rotate(150deg) saturate(0.25) brightness(1)
}
#player a[href='/trading_center.php?s=users&owner=553411&ref#results']  {
    position: absolute;
    left: -15px;
    top: 82.75px;
    font-size: 0px;
    width: 65px;
    height: 62.75px;
    padding: 4px;
    padding-top: 12px;
}
#player a[href='/trading_center.php?s=users&owner=553411&ref#results'] img  {
    height: 35px;
    filter: hue-rotate(150deg) saturate(0.4) brightness(1)
}
#player a[href='/refer.php']  {
    position: absolute;
    left: -15px;
    top: 82.75px;
    font-size: 0px;
    width: 65px;
    height: 62.75px;
    padding: 4px;
    padding-top: 12px;
}
#player a[href='/refer.php'] img  {
    height: 35px;
    filter: hue-rotate(250deg) saturate(0.3) brightness(1.1)
}
#player span {
    display: none;
}
#player .inner-table .left:first-of-type {
    display: none;
}
#player .inner-table .right {
    display: none;
}
#player .inner-table .left {
    position: absolute;
    top: 70px;
    right: 22%;
    z-index: 1;
    background: none;
    border-radius: 0px;
    box-shadow: 2px 2px #c1d7d7;
    width: 95px;
}
#player .inner-table .right:last-of-type {
    position: absolute;
    top: 70px;
    right: calc(22% - 120px);
    display: block;
    background: none;
}
*:has(a[href='/refer.php']) #player .inner-table .right {
    left: 60%;
}
*:has(a[href='/refer.php']) #player .inner-table .left {
    left: 40%;
}
#player a[href='/allies.php?p=blocked&block=553411']  {
    position: absolute;
    left: 41.5%;
    top: 110px;
    font-size: 0px;
    background: none;
    box-shadow: none;
}
#player a[href='/allies.php?p=blocked&block=553411'] img  {
    height: 30px;
    filter: hue-rotate(200deg) saturate(0.3) brightness(1.1)
}
#player a[href='/territory.php?id=553411&befriends=553411&tk=wQyDmdcl4n8w']  {
    position: absolute;
    right: 120px;
    top: 107.5px;
    font-size: 0px;
    background: none;
    box-shadow: none;
}
#player a[href='/territory.php?id=553411&befriends=553411&tk=wQyDmdcl4n8w'] img  {
    height: 35px;
    filter: hue-rotate(260deg) saturate(0.3) brightness(1.2)
}
#player .right_odd {
    padding: 0px;
}

.alert {
    background: #afc6c8;
    box-shadow: 6px 6px #98b6b9;
    color: #e7f0f0;
    border-radius: 0;
    border: none;
}
.alert a {
    color: #dceaea;
    padding: 6px;
    transition: 0.4s;
}
.alert a:hover {
    color: #dceaea;
    padding-left: 10px
}

h1 {
    display: none;
}
div.linkbox  {
    background: #afc6c8;
    box-shadow: 10px 10px #98b6b9;
    color: #e7f0f0;
    width: 70%;
    margin-left: 30%;
    height: 150px;
    padding: 12px;
    font-size: 24px;
    overflow-y: auto;
}
div.linkbox a {
    color: #e7f0f0;
    transition: 0.4s;
    font-weight: 200;
    font-style: italic
}
div.linkbox a:hover {
    color: #e7f0f0;
    padding-left: 6px;
    padding-right: 6px;
}
.boxlayout:before {
    content: '';
    height: 160px;
    width: 400px;
    background: url('https://static.lioden.com/images/decors/female/kind//over/mainecoon.png');
    background-position: bottom right;
    position: absolute;
    margin-top: -120px;
    right: 0px;
    filter: brightness(1.2) saturate(0.3) hue-rotate(150deg);
    pointer-events: none;
}
div.aboutbox {
    background: #afc6c8;
    box-shadow: 10px 10px #98b6b9;
    color: #e7f0f0;    
    width: 70%;
    margin-right: 30%;
    height: 150px;
    padding: 12px;
    font-size: 18px;
    overflow-y: auto;
}
.boxlayout:after {
    content: '';
    height: 160px;
    width: 400px;
    background: url('https://static.lioden.com/images/decors/female//over/turkangora.png');
    background-position: bottom left;
    position: absolute;
    margin-top: -300px;
    margin-right: 60%;
    right: 0px;
    filter: brightness(1.0) saturate(0.1) hue-rotate(150deg);
    pointer-events: none;
}
.boxlayout img {
    position: absolute;
    right: 25px;
    top: 550px;
    pointer-events: none;
}
.sticker {
    height: 250px;
    width: 400px;
    background: url('https://static.lioden.com/images/decors/female/jolly//over/leucisticfox.png');
    background-position: bottom right;
    background-size: 140%;
    position: absolute;
    right: 50px;
    margin-top: -220px;
    filter: brightness(1.05) saturate(0.2) hue-rotate(150deg);
    pointer-events: none;
}

center .alert img {
    filter: hue-rotate(150deg) saturate(0.15) brightness(1.2);
    padding-right: 6px;
}

#commentBox {
    background: #afc6c8;
    box-shadow: 10px 10px #98b6b9;
    color: #e7f0f0;
    border: none !important;
    border-radius: 0px !important;
    margin-top: 20px;
}
.comment {
    background: #afc6c8 !important;
    border-top: 2px solid #98b6b9; 
}
.comment:first-of-type {
    border-top: none;
}
.comment a, .comment small {
    color: #d6e6e6;
}
.comment img {
    filter: saturate
}
#makeComment input {
    background: #afc6c8;
    box-shadow: 6px 6px #98b6b9;
    color: #e6eded;
    border: none;
    margin-top: 10px;
    text-shadow: none;
    transition: 0.4s
}
#makeComment input::placeholder {
    color: #e7f0f0;
    padding-left: 4px;
}
#makeComment input[type='submit'] {
    margin-left: 10px;
}
#makeComment input:hover {
    background: #9fbcbc;
    box-shadow: 4px 6px #91abab;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
}
#commentBox input {
    background: #a7c2c2;
    border-radius: 0px !important;
    box-shadow: 4px 4px #9cb6b6;
    border: none !important;
    text-shadow: none !important;
    color: #d8e3e3 !important;
    transition: 0.4s !important;
    margin-left: 10px;
}
#commentBox input:hover {
    background: #9fbcbc;
    box-shadow: 4px 6px #91abab;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
}
.col-md-4 {
    width: 33%;
}
.cave-grid, .mound-grid {
    background: #afc6c8;
    box-shadow: 8px 8px #98b6b9;
    border-radius: 0px;
    border: none;
    color: #e6eded;
    transition: 0.4s;
}
.cave-grid:hover, .mound-grid:hover {
    background: #9fbcbc;
    box-shadow: 6px 8px #91abab;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
    backdrop-filter: brightness(1.1)
}
img[src*="unsortedlionsbanner.png"] {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Kilimandzaro.png');
    object-fit: cover;
    object-position: 0px -100px;
    height: 60px;
    width: 500px;
    filter: brightness(1.2) saturate(0.45) hue-rotate(-20deg);
}
img[src*="nestingbanner.png"] {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Kilimandzaro.png');
    object-fit: cover;
    object-position: -240px -100px;
    height: 60px;
    width: 500px;
    filter: brightness(1.2) saturate(0.45) hue-rotate(-20deg);
}
img[src*="prideoverviewbanner.png"] {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Kilimandzaro.png');
    object-fit: cover;
    object-position: 30px -100px;
    height: 60px;
    width: 500px;
    filter: brightness(1.2) saturate(0.45) hue-rotate(-20deg);
    transform: scaleX(-1)
}
#fraCaveList .col-md-4:nth-child(1) .cave-grid img {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Frozen_Cave_Mouth.png');
    object-fit: cover;
    object-position: 0px 0px;
    height: 120px;
    width: 500px;
    filter: brightness(1.1) saturate(0.25) hue-rotate(-10deg);
}
#fraCaveList .col-md-4:nth-child(2) .cave-grid img {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Frozen_Cave_Mouth.png');
    object-fit: cover;
    object-position: -200px 0px;
    height: 120px;
    width: 500px;
    filter: brightness(1.1) saturate(0.25) hue-rotate(-10deg);
}
#fraCaveList .col-md-4:nth-child(3) .cave-grid img {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Frozen_Cave_Mouth.png');
    object-fit: cover;
    object-position: 240px 0px;
    height: 120px;
    width: 500px;
    filter: brightness(1.1) saturate(0.25) hue-rotate(-10deg);
    transform: scaleX(-1);
}
#fraCaveList .col-md-4:nth-child(4) .cave-grid img {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Frozen_Cave_Mouth.png');
    object-fit: cover;
    object-position: 0px -120px;
    height: 120px;
    width: 500px;
    filter: brightness(1.1) saturate(0.25) hue-rotate(-10deg);
}
#fraCaveList .col-md-4:nth-child(5) .cave-grid img {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Frozen_Cave_Mouth.png');
    object-fit: cover;
    object-position: -200px -120px;
    height: 120px;
    width: 500px;
    filter: brightness(1.1) saturate(0.25) hue-rotate(-10deg);
}
#fraCaveList .col-md-4:nth-child(6) .cave-grid img {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Frozen_Cave_Mouth.png');
    object-fit: cover;
    object-position: 240px -120px;
    height: 120px;
    width: 500px;
    filter: brightness(1.1) saturate(0.25) hue-rotate(-10deg);
    transform: scaleX(-1);
}
#fraCaveList .col-md-4:nth-child(7) .cave-grid img {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Frozen_Cave_Mouth.png');
    object-fit: cover;
    object-position: 0px -240px;
    height: 120px;
    width: 500px;
    filter: brightness(1.1) saturate(0.25) hue-rotate(-10deg);
}
#fraCaveList .col-md-4:nth-child(8) .cave-grid img {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Frozen_Cave_Mouth.png');
    object-fit: cover;
    object-position: -200px -240px;
    height: 120px;
    width: 500px;
    filter: brightness(1.1) saturate(0.25) hue-rotate(-10deg);
}
#fraCaveList .col-md-4:nth-child(9) .cave-grid img {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/Frozen_Cave_Mouth.png');
    object-fit: cover;
    object-position: 240px -240px;
    height: 120px;
    width: 500px;
    filter: brightness(1.1) saturate(0.25) hue-rotate(-10deg);
    transform: scaleX(-1)
}
.mound-grid img {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/glaciercave.png');
    object-fit: cover;
    height: 80px;
    width: 120px;
    filter: brightness(1.2) saturate(0.25) hue-rotate(-15deg);
}

.feature {
    background: #afc6c8 !important;
    box-shadow: 10px 10px #98b6b9;
    border: none !important;
    border-radius: 0px !important;
    color: #e6eded;
}
.feature span {
    font-size: 15px;
}
.feature h3 {
    font-size: 40px;
    color: #edf3f3;
}
.feature input, .feature select {
    background: #cfddde !important;
    box-shadow: 6px 6px #8caaac;
    border: none !important;
    border-radius: 0px !important;
    color: #486868;
    text-shadow: none;
    transition: 0.4s
}
.feature input {
    margin-left: 10px !important;
}
.feature input:hover, .feature select:hover {
    background: #c1d4d5 !important;
    box-shadow: 6px 6px #8aafb2;
    text-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
}

#attack, #sparring, #reclaim {
    background: #afc6c8;
    box-shadow: 10px 10px #98b6b9;
    border: none !important;
    color: #e6eded !important;
    margin-top: 20px;
}
#sparring .right_odd, #reclaim .left {
    background: none;
    box-shadow: 10px 10px #a4c1c3;
    border: none !important;
    color: #e6eded !important;
}
#sparring .right_odd .xsmall {
    display: block;
    margin-top: 10px;
    margin-bottom: -20px;
}
#attack p, #sparring p {
    margin-top: 10px !important;
}
#reclaim .left {
    padding-top: 15px !important;
}
#allies, #clans {
    display: none;
}
#attack a, #attack .bottom a  {
    color: #d3e1e1 !important;
    text-decoration: none;
    transition: 0.4s;
}
#attack a:hover, #attack .bottom a:hover {
    letter-spacing: 0.5px
}
#attack a[onclick] {
    display: none;
}
#attack th, #attack .bottom, #sparring th, #reclaim th {
    background: #8ba4a7;
    box-shadow: 10px 10px #7d9598;
    border: none !important;
    color: #edf3f3 !important;
}
#attack input, #attack select, #sparring input, #sparring select, #reclaim input, #reclaim select {
    background: #cfddde !important;
    box-shadow: 6px 6px #8caaac;
    border: none !important;
    border-radius: 0px !important;
    color: #486868;
    text-shadow: none;
    transition: 0.4s
}
#attack input, #sparring input {
    margin-left: 5px !important;
}
#attack input:hover, #attack select:hover, #sparring input:hover, #sparring select:hover, #reclaim input:hover, #reclaim select:hover {
    background: #c1d4d5 !important;
    box-shadow: 6px 6px #8aafb2;
    text-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
}

.col-sm-6 div, .col-sm-4 div {
    background: #afc6c8;
    box-shadow: 10px 10px #98b6b9;
}
.col-sm-6 div, .col-sm-4 div, div .left:has(a[href="/account-settings.php"]) {
    background: #a7c2c2;
    border-radius: 0px !important;
    box-shadow: 8px 8px #9cb6b6;
    border: none !important;
    text-shadow: none !important;
    color: #d8e3e3 !important;
    transition: 0.4s !important
}
.col-sm-6 div:not(.feature):hover, .col-sm-4 div:hover, div .left:has(a[href="/account-settings.php"]):hover {
    background: #9fbcbc;
    box-shadow: 8px 10px #91abab;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
}
div .left:has(a[href="/account-settings.php"]) a {
    color: #d8e3e3 !important;
}
div .left:has(a[href="/account-settings.php"]) {
    margin-top: 20px;
}
.col-sm-6:not(:has(.feature)) {
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

form:has(#editdetailspanel) table {
    border: none ;
    background: #afc6c8;
    box-shadow: 10px 10px #98b6b9;
}
form:has(#editdetailspanel) table th, form:has(#editdetailspanel) table .bottom {
    background: #8ba4a7;
    box-shadow: 10px 10px #7d9598;
}
form:has(#editdetailspanel) table th a {
    color: #edf3f3 !important;
}
.col-sm-6 div h3  {
    color: #edf3f3 !important;
    font-size: 28px !important;
}
form:has(#editdetailspanel) input, form:has(#editdetailspanel) select, form:has(#editdetailspanel) textarea {
    background: #cfddde;
    box-shadow: 6px 6px #8caaac !important;
    border-radius: 0px !important;
    color: #486868;
    border: none !important;
    text-shadow: none !important;
    transition: 0.4s !important
}
form:has(#editdetailspanel) input:hover, form:has(#editdetailspanel) select:hover, form:has(#editdetailspanel) textarea:hover {
    background: #c1d4d5 !important;
    box-shadow: 6px 6px #8aafb2;
    text-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
}
form:has(#editdetailspanel) input[type='submit'] {
    background: #a9c4c4;
    border-radius: 0px !important;
    box-shadow: 6px 6px #7a9191 !important;
    color: #edf3f3;
    border: none !important;
    text-shadow: none !important;
    transition: 0.4s !important
}
form:has(#editdetailspanel) input[type='submit']:hover {
    background: #9fbcbc;
    box-shadow: 8px 10px #6e8484;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
}
#editdetailspanel .left {
    background: #9bb7b7;
}

.panel {
    background: #afc6c8 !important;
    box-shadow: 8px 8px #98b6b9 !important;
    border: none !important;
    border-radius: 0 !important;
}
img[src*='icon-time-day.png'] {
    filter: hue-rotate(150deg) saturate(0.2) brightness(1)
}
img[src*='icon-time-night.png'] {
    filter: hue-rotate(10deg) saturate(0.7) brightness(1.2)
}
img[src*='icon-season-dry.png'] {
    filter: hue-rotate(150deg) saturate(0.2) brightness(1)
}
img[src*='icon-season-wet.png'] {
    filter: hue-rotate(-20deg) saturate(0.4) brightness(1.2)
}
.sidebar h3 {
    color: #edf3f3;
    font-size: 30px;
}
.progress {
    background: #c8dee1;
    border-radius: 0px;
    border: none;
    box-shadow: 4px 4px #b0d1d5;
}
.progress-bar {
     background: #84b6bd;
    border-radius: 0px;
    border: none;
    box-shadow: 4px 4px #97c9d0 !important;
}
.sidebar input, .sidebar .button, #btnChatSend {
    background: #a7c2c2;
    border-radius: 0px !important;
    box-shadow: 4px 4px #9cb6b6;
    border: none !important;
    text-shadow: none !important;
    color: #d8e3e3 !important;
    transition: 0.4s !important
}
.sidebar input:hover, .sidebar .button:hover, #btnChatSend:hover {
    background: #9fbcbc;
    box-shadow: 4px 6px #91abab;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
}

#fraSidebarChat {
    height: 650px;
    width: 105%;
}
#label_currentChannel, .chatMenu-container {
    background: #afc6c8 !important;
    box-shadow: 8px 8px #98b6b9 !important;
    border-radius: 0px !important;
    border: none !important;
    color: #d8e3e3 !important;
}
.chatMenu-container {
    margin-top: -1.5px;
}
.channelSwitcher:hover, .channelSwitcher.active {
    background: #8aa7a9 !important;
    box-shadow: 4px 4px #719194 !important;
    border-radius: 0px !important;
    color: #d8e3e3 !important;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg) !important;
}
.channelSwitcher {
    color: #d8e3e3 !important;
    transition: 0.4s;
}
#btnChatSettings, #btnLoadNewMessages {
	filter: sepia(1) hue-rotate(150deg) saturate(0.6) brightness(1.65);
}
#chatMessageContainer {
    background: #afc6c8 !important;
    box-shadow: 8px 8px #98b6b9 !important;
    margin-top: 10px;
    border-radius: 0px !important;
    border: none;
    width: 95%;
}
#chatMessagePinned {
    background-color: #b28c71 !important;
    box-shadow: 8px 8px #d2a788 !important;
    margin-bottom: 10px;
    border-radius: 0px !important;
    border: none;
    color: #f5f2ee !important;
    filter: hue-rotate(150deg) saturate(0.4)
}
#chatMessagePinned a {
    color: #f4f3f1 !important;
}
.s-chat-message {
    background: none !important;
    box-shadow: 4px 4px #98b6b9 !important;
    color: #e4eded !important;
}
.s-chat-message_timestamp {
    color: #d8e3e3 !important;
}

#txtChatContainer input[type='text'] {
    background: #a7c2c2;
    border-radius: 0px !important;
    box-shadow: 4px 4px #9cb6b6;
    border: none !important;
    text-shadow: none !important;
    color: #d8e3e3 !important;
    transition: 0.4s !important;
    width: 96% !important;;
}
#txtChatContainer input[type='button'] {
    margin-right: 3.25% !important;
}
.emoteInput {
    padding-right: 20px !important;
}
#txtChatContainer input:hover {
    background: #9fbcbc;
    box-shadow: 4px 6px #91abab;
    transform: scale(1.025) rotate(0deg) translate(0px, -2px) skewX(0deg);
}

img[src*='iconFB.png'] {
	filter: sepia(1) hue-rotate(150deg) saturate(0.7) brightness(0.9);
}
img[src*='iconTwit.png'] {
    filter: hue-rotate(150deg) saturate(0.3) brightness(1.2)
}
img[src*='iconInsta.png'] {
    filter: sepia(0.8) hue-rotate(180deg) saturate(0.4) brightness(0.9)
}
img[src*='bugbox.png'] {
    filter: hue-rotate(150deg) saturate(0.3) brightness(1.2)
}

@media(max-width: 1200px) {
    .lion-image-block  {
        width: 52.5%;
        top: 50px;
    }
    .breadcrumb {
        height: 540px;
    }
    .breadcrumb:after {
        top: 420px;
    }
    #about .inner-table {
        left: 45%;
    }
    #player {
        position: absolute;
        top: 400px;
        border: none;
    }
    .col-sm-6 div h3  {
        color: #edf3f3 !important;
        font-size: 24px !important;
    }
}
@media(max-width: 700px) {
    .lion-image-block  {
        width: 50%;
        top: 50px;
    }
    #about .inner-table {
        left: 40%;
    }
    .col-sm-6 div h3  {
        color: #edf3f3 !important;
        font-size: 22px !important;
    }
}
@media(max-width: 675px) {
    .lion-image-block  {
        width: 47.5%;
        top: 75px;
    }
    #about .inner-table {
        left: 37.5%;
    } 
}
@media(max-width: 650px) {
    .lion-image-block  {
        width: 45%;
        top: 100px;
    }
    #about .inner-table {
        left: 35%;
    }
    .col-sm-6 div h3  {
        color: #edf3f3 !important;
        font-size: 20px !important;
    }
}
@media(max-width: 625px) {
    #about .inner-table {
        left: 30%;
    }
}
@media(max-width: 600px) {
    #about .inner-table {
        left: 27.5%;
    }
}
